body{
    background-color: rgb(255, 255, 255);
    

}

.contai{
    display: flex;
    justify-content: center;
    padding-top: 15px;
   padding-bottom: 15px;
}


.boton_alerta{
    padding: 75px;
    margin: 10px;
    text-align: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.boton_estilo{
    padding: 75px;
    margin: 10px;
    text-align: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 180px;
    margin-left: 180px;
    
    
    
}

.cuadrado{
    width: 600px;
    height: 600px;
    background-color: rgb(216, 216, 216);
    margin-bottom: 20px;
    display: inline-block;
    border: 2px solid;
    border-color: rgb(2, 2, 2);
    

    
    
    }

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
} 


p{
    text-align: center;
    font-size: 25px;
}




